/**
 * Anpassung fuer Praesentation
 */


.reveal .slides{
	margin-top: -340px;
}

.reveal .slides>section,
.reveal .slides>section>section {
	min-height: 640px;
    background: none;
}

section:first-child h2 {
    background-color: #000;
    color: #77CC00;
    font-size: 1.7em;
    line-height: 1em;
    margin-bottom: 30px;
    padding: 0.3em 0 0.1em;
    text-align: left;
    text-transform: none;
}


#mainpage {
	background: url("../img/vieldrin_big.png") no-repeat bottom right;
}

/**
 * Online-Preview
 */
/*
.htmlcode {
    padding: 0.5em;
	background-color: #fff;
	width: 100%;
	height: 425px;	
}

.cssedit {
    margin-top: 1em;
    padding: 1em;
	background-color: #fff;
	width: 100%;
	height: 65px;
}


.preview {
	background-color: #fff;
	width: 100%;
	height: 500px;
    color: #000;
}

.preview h1, .preview h2, .preview u1 {
    color: #000;
}

.preview #navi .ownlink {
    color: #00f;
    text-decoration: underline;
}


.reveal pre {
    margin: 0 0.5em 0 0.5em;
    width: auto;
	box-shadow: none;
}

.reveal code {
    font-family: 'Menlo','Monaco',monospace;
}
*/
.home{
    position:fixed;
    bottom:-100px;
    left:10px;
}

.fullscreen  .reveal .slides > section {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    text-align: left;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}