/**
 * Anpassung fuer Praesentation
 */


.reveal .slides{
	margin-top: -340px;
}

.reveal .slides>section,
.reveal .slides>section>section {
	min-height: 640px;
    background: none;
}

section:first-child h2 {
    background-color: #000;
    color: #77CC00;
    font-size: 1.7em;
    line-height: 1em;
    margin-bottom: 30px;
    padding: 0.3em 0 0.1em;
    text-align: left;
    text-transform: none;
}


#mainpage {
	background: url("../img/vieldrin_big.png") no-repeat bottom right;
}

/**
 * Online-Preview
 */

.example {
	color: #000;
	width: 100%;	
}

.htmlcode {
	background-color: #fff;
	width: 49%;
	float: left;
	height: 380px;	
}

.preview {
	background-color: #fff;
	width: 49%;
	float: right;
	height: 380px;
}

.cssedit {
	margin-top: 20px !important;
	float: left;
	background-color: #fff;
	width: 49%;
	height: 80px;
}

.reveal pre {
	margin: 0.5em;
	box-shadow: none;
}

.reveal code {
    font-family: 'Menlo','Monaco',monospace;
    margin-right: 18px;
    padding: 1em;
}

.home{
    position:fixed;
    bottom:-100px;
    left:10px;
}

.reveal section pre #examplehtml {
    padding: 0 !important;
    margin: 0 !important;
    text.align-left !important;
}